// Specific CSS for your home-page
.home-links {
  width: 16vw;
  h3 {
    font-weight: 700;
    font-style: italic;
    text-align: left;
    margin-bottom: 24px;
    letter-spacing: 1px;
    transition: transform 0.8s;

    &:hover {
      transform: translateX(2vw);
      text-decoration: underline;

    }
  }

}
