<div class="container-blue container-show-landing">
  <h1 class="header-white">MEGAN STREET</h1>

  <div class="container-centered-flex">
    <div class="home-links">
      <%= link_to "PROJECTS", projects_path, class: "home-link text-white"  %>
      <%= link_to "ABOUT", about_path, class: "home-link text-white"  %>
      <%= link_to "CONTACT", contact_path, class: "home-link text-white"  %>

    </div>
  </div>
</div>
