<div class="container-blue">
  <h1>MEGAN STREET</h1>

  <div class="container-centered-flex">
    <div class="home-links">

    <h3>PROJECTS</h3>
    <h3>ABOUT</h3>
    <h3>CONTACT</h3>
    </div>
  </div>
</div>
